<div class = "row">
  <h2 style = "border: 1px solid black">レビュー編集画面</h2>

  <div style = "border: 1px solid black">
    <h3>商品ID:34</h3>
    <h4>商品名:aaaaa</h4>

    <p>ユーザー名○○さん</p>
    <p>ユーザID: wktk</p>

    <textarea placeholder="とてもいいとてもいい"></textarea>

    <a href = "#">編集確定</a>
    <a href = "#">レビュー削除</a>
  </div>
</div>