
<div class="col-lg-8">

<div style="text-align:center">

<h2>お問い合わせ内容入力</h2>
		<h3>カテゴリ選択</h3>
			<select id="product" name="product">
				<option value="購入について">購入について</option>
				<option value="取扱商品について">取扱商品について</option>
				<option value="身に覚えのない請求書">身に覚えのない請求書</option>
				<option value="ええなんスカ！">ええなんスカ！</option>
			</select>

		<h3>件名</h3>
			<p><input type="text">
		</p>

		<h3>お問い合わせの内容</h3>
			<p><textarea cols="60" rows="9"></textarea>
		</p>

		<p>内容をご確認のうえ、「入力内容を送信」ボタンをクリックしてください。</>

		<p id="form_submit"><input type="button" id="form_submit_button" value="入力内容を送信" /></p>
	</div>
</div>
=======
<h1>Admins#index</h1>
<p>Find me in app/views/admins/index.html.erb</p>
<<<<<<< HEAD
<p>Hey <%= @admin.email %>!</p>
=======


>>>>>>> origin/update
