<h1>お仕事お疲れ様です。<br>
どこに飛びますか？</h1>
<div class="links">
	<ul>
		<li>
			<a href="#">登録会員一覧</a>
		</li>
		<li>
			<a href="#">商品一覧</a>
		</li>
		<li>
			<a href="#">入荷履歴一覧</a>
		</li>
		<li>
			<a href="#">受注履歴一覧</a>
		</li>
		<li>
			<a href="#">お問合わせ一覧</a>
		</li>
		<li>
			<a href="#">新規商品登録</a>
		</li>
		<li>
			<a href="#">入荷入力フォーム</a>
		</li>
	</ul>
</div>


