<div class="col-lg-8">
  <div style="text-align:center">
<h1>受注履歴一覧</h1>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">受注ID</th>
		      <th scope="col">受注日時</th>
		      <th scope="col">ユーザ</th>
		      <th scope="col">合計金額</th>
		      <th scope="col">発送状況</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>1</td>
		      <td>20331/02/24134/12:12</td>
			  <td>こうちゃん</td>
		      <td>289839</td>
		      <td>発送済</td>
		    </tr>
		    <tr>
		      <td>1</td>
		      <td>20331/02/24134/12:12</td>
			  <td>こうちゃん</td>
		      <td>289839</td>
		      <td>発送済</td>
		    </tr>
		     <tr>
		      <td>1</td>
		      <td>20331/02/24134/12:12</td>
			  <td>こうちゃん</td>
		      <td>289839</td>
		      <td>発送済</td>
		    </tr>
		    <tr>
		      <td>1</td>
		      <td>20331/02/24134/12:12</td>
			  <td>こうちゃん</td>
		      <td>289839</td>
		      <td>発送済</td>
		    </tr>
		     <tr>
		      <td>1</td>
		      <td>20331/02/24134/12:12</td>
			  <td>こうちゃん</td>
		      <td>289839</td>
		      <td>発送済</td>
		    </tr>
		    <tr>
		      <td>1</td>
		      <td>20331/02/24134/12:12</td>
			  <td>こうちゃん</td>
		      <td>289839</td>
		      <td>発送済</td>
		    </tr>


		  </tbody>
		</table>

  </div>
</div>
