<div class="col-lg-8">
  <div style="text-align:center">
<h1>受注履歴詳細</h1>
		<table class="table">
			<h1>受注ID:XXXXXXXXXの詳細</h1>
		  <thead>
		    <tr>
		      <th scope="col">受注ID</th>
		      <th scope="col">受注日時</th>
		      <th scope="col">ユーザ</th>
		      <th scope="col">合計金額</th>
		      <th scope="col">発送状況</th>
		    </tr>
		  </thead>
		  	<h1>受注された商品</h1>
		  <tbody>
		     <tr>
		      <td>20331/02/24134/12:12</td>
		      <td>1</td>
			  <td>たくちゃんとこうちゃん</td>
		      <td>289839</td>
		    </tr>
		　　<tr>
		      <td>20331/02/24134/12:12</td>
		      <td>1</td>
			  <td>たくちゃんとこうちゃん</td>
		      <td>289839</td>
		    </tr>
		  </tbody>
		</table>
		<h1>商品小計</h1>
		<h1>送料</h1>
		<h1>合計金額</h1>
		<h1>発送する</h1>
	</div>
</div>