<div class="col-sm-12">
	<div class = "endusers-box">
	<h1 class="enduser-title">登録会員一覧</h1>
		<table class="table table-bordered table-striped orderhistroy-table">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Name</th>
		      <th scope="col">Email</th>
		    </tr>
		  </thead>

		  <tbody>
		  <% @users.each do |user| %>
		    <tr>
		      <td><span><%= user.id %></span></td>
		      <td><span><%=link_to user.first_name+user.last_name, admins_user_path(user)%></span></td>
		      <td><span><%= user.email %></span></td>
		    </tr>
		  <% end %>
		  </tbody>
		</table>
	</div>
</div>
		
 


