<table class="table">

		  <tbody>

		    <tr>
		      <td>名前</td>
		      <td>拓三</td>
		    </tr>

		    <tr>
		      <td>かな</td>
		      <td>たくちゃん</td>
		    </tr>

		    <tr>
		      <td>郵便番号</td>
		      <td>30290491</td>
		    </tr>

		     <tr>
		      <td>住所</td>
		      <td>東京都杉並区八王子028-231</td>
		    </tr>

		    <tr>
		      <td>電話番号</td>
		      <td>990-8053-2322</td>
		    </tr>

		    <tr>
		      <td>アドレス</td>
		      <td>jkjkkj@dfjsha.com</td>
		    </tr>
		    <tr>

		    <tr>
		      <td>パスワード</td>
		      <td>jkjkkjihdsga</td>
		    </tr>
		    <tr>

		  </tbody>
		</table>

  </div>
</div>
