<div class ="nested-fields">
<h5>ディスク</h5>

<%= f.number_field :disc_num ,required: true , min:1, :size => "50*24"%>

<%= f.fields_for :songs do |song| %>
	<%=render "song_fields", :f => song%>
 <% end %>
 <div class="links">
<%= link_to_add_association "曲を追加", f, :songs %>
</div>
</div>