<h1>商品編集</h1>
<form action="#" method="POST">
	<p>アーティスト<input type="text"></p>
	<p>シングル・アルバム名<input type="text"></p>
	<p>ジャケット画像<input type="text"></p>
	<p>価格（税込）<input type="text"></p>
	<p>発売日<input type="date"></p>
	<p>レーベル<input type="text"></p>
	<p>ジャンル<input type="text"></p>
	<p>ステータス
		<select name="#">
		<option value="販売中">販売中</option>
		<option value="販売停止中">販売停止中</option>
		</select>
	</p>
	<input type="submit" value="内容を更新">
</form>