<h1>登録商品一覧</h1>
<div>
	<table>
		<thead>
			<tr>
				<th>登録日時</th>
				<th>商品ID</th>
				<th>商品画像</th>
				<th>商品タイトル</th>
				<th>アーティスト</th>
				<th>ジャンル</th>
				<th>レーベル</th>
				<th>価格（税込）</th>
				<th>ステータス</th>
				<th>在庫数</th>
			</tr>
			<tbody>
				<tr>
					<td>2019/10/10</td>
					<td>1231</td>
					<td></td>
					<td>uiuiuiui</td>
					<td>takuzou</td>
					<td>metal</td>
					<td>sony</td>
					<td>11000</td>
					<td>販売中</td>
					<td>23</td>
				</tr>
			</tbody>
		</thead>
	</table>
	<a href="#">1</a>
	<a href="#">2</a>
	<a href="#">3</a>
</div>