<h1>新規商品登録</h1>
<form action="#" method="POST">
	<p>アーティスト<input type="text"></p>
	<p>シングル・アルバム名<input type="text"></p>
	<p><input type="text"></p>
	<p>価格（税込）<input type="text"></p>
	<p>発売日<input type="date"></p>
	<p>レーベル<input type="text"></p>
	<p>ジャンル<input type="text"></p>
	<p><input type="text"></p>
	<input type="submit" value="次へ">
</form>