<div class="main">
		<div class="prduct-details">
			<h2>商品詳細</h2>
			<div class="product-details-section1">
				<p>商品ID：1345</p>
				<img src="">
				<div class="heart"></div>
				<a href="#">レビューを見る</a>	
			</div>
			<div class="product-details-section2">
				<h2 class="product-name">商品名</h2>
				<a href="#">アーティスト</a>
				<a href="#">ジャンル</a>
				<p>構成数：</p>
				<div class="song-name-list">
					<p>収録曲</p>
					<ol>
						<li>name1</li>
						<li>name2</li>
						<li>name3</li>
					</ol>
				</div>	
			</div>
			<div class="product-details-section3">
				<div>10000円(税込)</div>
				<p>在庫数：125</p>
				<a href="#">入荷する</a>
				<a href="#">編集する</a>
			</div>	
		</div>
		<div class="review-columun">
			<h2>商品レビュー</h2>
			<div class="review">
				<p>投稿者</p>
				<p>レビュー内容</p>
				<a href="#">編集する</a>	
			</div>
			<div class="review">
				<p>投稿者</p>
				<p>レビュー内容</p>
				<a href="#">編集する</a>	
			</div>
			<div class="review">
				<p>投稿者</p>
				<p>レビュー内容</p>
				<a href="#">編集する</a>	
			</div>
			<div class="review">
				<p>投稿者</p>
				<p>レビュー内容</p>
				<a href="#">編集する</a>	
			</div>
		</div>
		<div class="review-post">
			<h2>レビュー投稿</h2>
			<form action="#" method="POST">
				<p>レビュー内容<br>
				<p>２００文字以内</p>
				<textarea cols="30" rows="5"></textarea></p>
				<p><input type="submit" value="投稿する"></p>
			</form>
		</div>
	</div>