<div class="col-xs-4" >
	<h2>Users</h2>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col"> Image</th>
		      <th scope="col">Name</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <tr>
		      <th></th>
		      <td></td>
		      <td></td>
		    </tr>
		  </tbody>1
		</table>

	</div>
</div>

<div class="col-lg-8">
  <div style="text-align:center">
<h1>Addresses</h1>
<table class="table">
		<h2>Date</h2>
		<h2>Adress</h2>
		  <thead>
		    <tr>
		      <th scope="col">Title</th>
		      <th scope="col">Artist</th>
		      <th scope="col">price</th>
		    </tr>
		  </thead>

		  <tbody>
		    <tr>
		      <th>東京都千代田区春日3-24-13242331</th>
		      <td>Edit</td>
		      <td>Destroy</td>
		    </tr>
		    <tr>
		      <th>東京都千代田区春日3-24-13242331</th>
		      <td>Edit</td>
		      <td>Destroy</td>
		    </tr>
		    <tr>
		      <th>東京都千代田区春日3-24-13242331</th>
		      <td>Edit</td>
		      <td>Destroy</td>
		    </tr>
		  </tbody>
		</table>

  </div>
</div>