<div class = "user-destroy-block">
  <h1 class = "user-destroy-title">退会が完了しました</h1>
  <p class = "user-destroy-content">これまでのご愛顧ありがとうございました。</p>


  <p class = "root-link"><%= link_to "商品一覧に戻る", root_path, class: "btn user-destroy-btn" %></p>
</div>