<h1>User show</h1>
<div id="tab-contents" class="clearfix">
		<div class="col-xs-4" >
			<h2>Users</h2>
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col"> Image</th>
			      <th scope="col">Name</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <tr>
			      <th></th>
			      <td></td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
		</div>

		<div id="tab1" class="tab">
			<div class="col-lg-8">
			    <div style="text-align:center">
				<h1>Addresses</h1>
					<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">Title</th>
						      <th scope="col">Artist</th>
						      <th scope="col">price</th>
						    </tr>
						  </thead>

						  <tbody>
						    <tr>
						      <th>東京都千代田区春日3-24-13242331</th>
						      <td>Edit</td>
						      <td>Destroy</td>
						    </tr>
						    <tr>
						      <th>東京都千代田区春日3-24-13242331</th>
						      <td>Edit</td>
						      <td>Destroy</td>
						    </tr>
						    <tr>
						      <th>東京都千代田区春日3-24-13242331</th>
						      <td>Edit</td>
						      <td>Destroy</td>
						    </tr>
						  </tbody>
					</table>
				 </div>
			</div>
		</div>

		<div id="tab2" class="tab">
			<div class="col-lg-8">
			  <div style="text-align:center">
				<h1>Favorites</h1>
				<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">Title</th>
					      <th scope="col">Artist</th>
					      <th scope="col">price</th>
					    </tr>
					  </thead>

					  <tbody>
					    <tr>
					      <th>津軽海峡冬景色</th>
					      <td>Ikuzo Yoshi feat.Justin Bieber</td>
					      <td>10004 Yen</td>
					    </tr>
					    <tr>
					      <th>津軽海峡冬景色</th>
					      <td>Ikuzo Yoshi feat.Justin Bieber</td>
					      <td>10004 Yen</td>
					    </tr>
					    <tr>
					      <th>津軽海峡冬景色</th>
					      <td>Ikuzo Yoshi feat.Justin Bieber</td>
					      <td>10004 Yen</td>
					    </tr>
					    <tr>
					      <th>津軽海峡冬景色</th>
					      <td>Ikuzo Yoshi feat.Justin Bieber</td>
					      <td>10004 Yen</td>
					    </tr>
					  </tbody>

				</table>
			  </div>
			</div>

		</div>
		<div id="tab3" class="tab">
			<div class="col-lg-8">
			    <div style="text-align:center">
				<h1>購入履歴</h1>
				<h1>CD title 枚数　etc</h1>
				<table class="table">
					<tbody>
						 <tr>
					      <td>購入者</td>
					      <td>拓三</td>
					    </tr>
					    <tr>
					      <td>受取人</td>
					      <td>拓三</td>
					    </tr>
					    <tr>
					      <td>発送先住所</td>
					      <td>拓三</td>
					    </tr>
					    <tr>
					      <td>発送先郵便番号</td>
					      <td>拓三</td>
					    </tr>
					    <tr>
					      <td>購入者</td>
					      <td>拓三</td>
					    </tr>
					    <tr>
					      <td>受取人</td>
					      <td>拓三</td>
					    </tr>
					</tbody>
				</table>
				 </div>
			</div>
		</div>
</div>
