<div class = "thanks-box">
  <h1 class = "thanks-text-en">Thank you!!!</h1>
  <h2 class = "thanks-text-jp">お買い上げありがとうございました!</h2>

  <p class = "root-link"><%= link_to "商品一覧に戻る", root_path, class: "btn btn-primary root-path-button" %></p>
</div>

