<div class="container">
      <div class="row">
      	<div class="col-lg-6">

<h2>お届け先住所</h2>

<h3>住所</h3>
<th>愛知県一宮市中央1-1-1</th>

<p>郵便番号</p>
<th>444-5555</th>

<p>電話番号</p>
<th>000-0000-4545</th>

<p>氏名</p>
<th>もっきー</th>

<p>メールアドレス</p>
<th>ashfu@ajcionsnaci</th>

<p>選択中</p>
<p>編集</p>


<div>
<h3>住所</h3>
<th>河川敷</th>
<p>郵便番号</p>
<th>231-4231</th>
<p>電話番号</p>
<th>000-9990-4545</th>
<p>氏名</p>
<th>いっしー</th>
<p>メールアドレス</p>
<th>nfoq@fnlenco</th>


<p>選択中</p>
<p>編集</p>
</div>

<p>他のお届け先を追加</p>


<div>
	<h2>空駆ける天馬</h2>
	<h3>合唱コンの定番ソング</h3>
	<p>数量：１</p>
	<h2>小計：1千万円</h2>
</div>
</div>

<div class="col-lg-6">

<h2>支払い方法</h2>
<select id="product" name="product">
	<option value="銀行振込">銀行振込</option>
	<option value="クレジットカード">クレジットカード</option>
	<option value="代引き">代引き</option>
	<option value="指一本">指一本</option>
</select>

<div>
<h2>注文内容</h2>
<p>商品の小計：1千万円</p>
<p>配送料：1億9千万円</p>
<p>ご請求額:2億円</p>
<p>注文を確定する</p>
</div>
</div>