<h2>お届け先住所</h2>

<div>
<h3>住所</h3>
<td>愛知県一宮市中央1-1-1</td>
<p>郵便番号</p>
<td>444-5555</td>
<p>電話番号</p>
<td>000-0000-4545</td>
<p>氏名</p>
<td>もっきー</td>
<p>メールアドレス</p>
<td>ashfu@ajcionsnaci</td>


</div>

<div>
<h3>住所</h3>
<td>河川敷</td>
<p>郵便番号</p>
<td>231-4231</td>
<p>電話番号</p>
<td>000-9990-4545</td>
<p>氏名</p>
<td>いっしー</td>
<p>メールアドレス</p>
<td>nfoq@fnlenco</td>


</div>



<div>
	<h2>空駆ける天馬</h2>
	<h3>合唱コンの定番ソング</h3>
	<p>数量：１</p>
	<h2>小計：1千万円</h2>
</div>

<h2>支払い方法</h2>
<select id="product" name="product">
	<option value="銀行振込">銀行振込</option>
	<option value="クレジットカード">クレジットカード</option>
	<option value="代引き">代引き</option>
	<option value="指一本">指一本</option>
</select>

<div>
<h2>注文内容</h2>
<p>商品の小計：1千万円</p>
<p>配送料：1億9千万円</p>
<p>ご請求額:2億円</p>

</div>