<div class="w">

<h1 class="i-c">お問い合わせを受け付けました<i class="fas fa-envelope"></i></h1>

<p class="i-c-3">近日中にご登録いただいているメールアドレス宛に、ご返信させていただきます。</p>

<%= link_to "商品一覧ページへ戻る", root_path, class: 'btn btn-primary btn-block btn-lg' %>

</div>