<!DOCTYPE html>
<html lang = "ja">
<head>
  <meta charset = "utf-8">
  <title>User reviews</title>
  <link rel = "stylesheet" href = "styles.css">
</head>
<body>
  <div class = "row">
    <section class = "product-box">
      <h2 class = "page-title">商品詳細</h2>
      <img src = "#" class = "product-img"><br>
      <a href = "#" class = "product-favorites">💛○いいね</a><br>
      <a href = "#" class = "product-reviews">〇〇件のレビュー</a><br>
    </section>
      <div style = "">
        <div style = "float: clear;">
          <h2>XXX the BEST</h2>
          <h3>アーティスト名:○○</h3>
          <h3>レーベル名:○○</h3>

          <h4>ジャンル</h4>
          <h4>構成数</h4>
          <h5>収録曲</h5>
          <p>1.どんどんDQN</p>
          <p>2.バンバンBQN</p>
          <p>3.ランランルー</p>
        </div>

        <div style = "float: right;">
          <strong><span style = "color: red;">1100円!!!</span>(税込)</strong>
          <p>在庫あり</p>
          <p>数量<select id="product" name="product">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
              </select></p>


          <button type = "button">カートに追加する</button>
        </div>
      </div>
  </div>

  <div class = "row">
    <section style = "text-align: center; border: solid 1px black; width: 1100px; height: 400px; margin: 30px auto;">

      <div style = "flaot: left;">
        <h2 style = "border: 1px solid black; margin-left: 5px; width: 200px;">商品レビュー</h2>
      </div>

      <div style = "float: left; display: inline-block">
        <div style = "border: solid 1px black; width: 300px">
          <p　>投稿者名</p><br>
          <p>レビュー内容</p>
        </div>

        <div style = "border: solid 1px black; width: 300px">
          <p>投稿者名</p><br>
          <p>レビュー内容</p>
        </div>

        <div style = "border: solid 1px black; width: 300px">
          <p>投稿者名</p>
          <p>レビュー内容</p>
        </div>
      </div>

      <div style = "float: left;">
        <div style = "border: solid 1px black; width: 300px">
          <p>投稿者名</p>
          <p>レビュー内容</p>
        </div>

        <div style = "border: solid 1px black; width: 300px">
          <p>投稿者名</p>
          <p>レビュー内容</p>
        </div>

        <div style = "border: solid 1px black; width: 300px">
          <p>投稿者名</p>
          <p>レビュー内容</p>
        </div>
      </div>

      <div style = "text-align: center; padding: 0;">1 2 3</div>

    </section>
  </div>
</body>
</html>