.row {

}

/*左ボックス*/

.product-box {
  border: solid 5px purple;
  width: 70%;
  margin: 0 auto;
  height: 400px;
}

.product-menu {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: 0 ;
  flex: 0 1 10px;
}

.page-title {
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  background: limegreen;
  width: 20%;
}

.product-img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.product-favorites, .product-reviews {
  font-size: 20px;
  margin-bottom: 20px;
  width: 20%;
}

.page-title, .product-img, .product-favorites, .product-reviews {
  height: 70px;
  margin-left: 24.9px;
}

.product-favorites, .product-reviews {
  text-decoration: none;
}

/*中央ボックス*/

.product-detail {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: flex-start;
  width: 30%;
  flex: 0 1 10px;
}