<h1>お問い合わせ一覧</h1>

<table class="table table-striped">
	<thead>
    	<tr>
			<th>問い合わせ日</th>
			<th>問い合わせID</th>
			<th>投稿者氏名</th>
			<th>件名</th>
			<th>メールアドレス</th>
			<th>問い合わせカテゴリ</th>
			<th>回答のステータス</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>20XX年1月1日</td>
			<td>1</td>
			<td>ゴン＝フリークス</td>
			<td>これで、終わってもいい</td>
			<td>gongon@gon</td>
			<td>発送について</td>
			<td>回答のステータス</td>
		</tr>
	</tbody>
</table>