<h2>お問い合わせ一覧</h2>
<table>
    <thead>
     <tr>
      <th>ユーザ名</th>
      <th>メールアドレス</th>
      <th>カテゴリ</th>
      <th></th>
     </tr>
    </thead>

    <tbody>
     <% @inquiries.each do |inquiry| %>
        <tr>
         <td><%= inquiry.end_user_name %></td>
		 <td><%= inquiry.email %></td>
		 <td><%= inquiry.subject %></td>
		 <td><%= link_to "詳細",  admins_inquiry_path(inquiry.id) %></td>
        </tr>
     <% end %>
            </tbody>
            </table>