<div class="col-lg-8">

<div style="text-align:center">

<h2>〇〇様からのお問い合わせ内容</h2>
		<h3>カテゴリ</h3>
		<th>身に覚えのない請求書</th>

		<h3>件名</h3>
		<th>貴様殺すぞ</th>

		<h3>お問い合わせの内容</h3>
		<th>ぶん殴るぶん殴るぶん殴るぶん殴るぶん殴る</th>

		<h3>回答を入力</h3>
			<p><textarea cols="60" rows="9"></textarea>
		</p>

		<p>回答内容をご確認のうえ、「入力内容を送信」ボタンをクリックしてください。</>

		<p id="form_submit"><input type="button" id="form_submit_button" value="入力内容を送信" /></p>

		<p>一覧に戻る</p>
	</div>
</div>