// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-content{
  width:100%;
  height:300px;
  display: flex; /* 子要素をflexboxで揃える */
  flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center; /* 子要素をflexboxにより中央に配置する */
  align-items: center;  /* 子要素をflexboxにより中央に配置する */
  background-image: url(main-content.jpg);
  background-size:cover;

}

.catch-copy{
  font-family: "kssweetheavycalligraphy";
  color:white;
  margin:0 auto;
  font-weight:900;
  font-size:4em;
}

.flex{
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex > *{
  background: #fff;
  text-align: center;
  border: 3px solid #aaa;
  margin: 10px;
}

.rank-flex{
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.rank-flex > *{
  position: relative;
  width: 180px;
  background: #fff;
  text-align: center;
  border: 3px solid #aaa;
  margin: 0 1.5%;
  padding: 10px;
}

.rank{
    width: 50px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 3px;
	background-color: gray;
	color: white;
}

.list{
	width: 30%;
	dispray: inline_flex;
}

ul {
	list-style: none;
}

.sidenav-flex{
  border: 3px solid #aaa;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.list-sarch{
  border-bottom: 1px solid gray;
}
