// Place all the styles related to the user_purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*complete*/

.thanks-box {
  margin: 70px auto;
  padding: 40px;
  border-radius: 2%;
  background: #E3DECC;
}

.thanks-text-en, .thanks-text-jp {
  text-align: center;
  color: #F58E7E;
}

.root-link {
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

.btn:hover {
  opacity: 0.8;
}

.root-path-button {
  text-align: center;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
}

.root-path-button {
  background: #668ad8;
  color: #FFF;
}

/*new*/

.userpurchase-main {
  margin: 70px 0;
}

.userpurchase-title {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  width: 25%;
  text-align: center;
  margin-bottom: 40px;
  
  font-weight: bold;
}

.userpurchase-select {
  background: #F5F1E9;
  border-radius: 2%;
  margin-bottom: 50px;
  padding: 40px;
}

.userpurchase-selectbox {
  border: 2px solid slategray;
  border-radius: 2%;
  margin: 40px auto;
  width: 80%;
}

.userpurchase-box {
  margin-top: 70px;
}

.userpurchase-payment {
  backgroung: #ECEEF1;
  margin-bottom: 70px;
}

.userpurchase-ordertitle {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  width:50%;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.userpurchase-fee {
  background: #F5F1E9;
  padding: 30px;
  border-radius: 2%;
  color: #0C555D;
}

.userpurchase-song-image {
  width: 40%;
  display: inline-block;
}

.userpurchase-song {
  background: #F5F1E9;
  border-radius: 2%;
  margin-bottom: 100px;
  padding: 40px;
  width: 100%;
  font-family: 'Kosugi Maru', sans-serif;
  color: #0C555D;
}

.userpurchase-table {
  background: #FDC44F;
  color: #0C555D;
}

.userpurchase-song-title {
  width: 40%;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Kosugi Maru', sans-serif;
}

.userpurchase-song-quantity {
  width: 20%;
  display: inline-block;
  margin-left: 150px;
}

.userpurchase-song-price {
  width: 25%;
  display: inline-block;
  font-size: 25px;
  margin: 0 0 30px 200px;
}


.userpurchase-addbutton {
  margin-left: 60px;
}

.userpurchase-sub {
  border: 2px ridge slategray;
  padding: 10px;
  border-radius: 2%;
  background: #FDC44F;
  margin-bottom: 15px;
}