// Place all the styles related to the user_carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.notification{
	font-family: "ZakkuriGothic-BLK";;
}



.cart-box{
	min-height:500px;
	background-size:cover;
}


.purchase-products-box {
  height:auto;
  width: auto;
}

.purchase-products-box-inner{
	height:auto;
}

.purchase-product {
	height:100px;
	margin: 10px;
	display:flex;
	justify-content:right;
	border: 3px solid darkkhaki;
    border-radius: 10px;
	background-color: ivory;
	color:black;
}


.purchase-product-image {
  margin:0 30px 0 30px;

  line-height:100px;

}


.purchase-product-name-list{
	list-style-type: none;
	margin: 10px 30px 10px 0;

}

.purchase-product-price{
	margin-right:50px;
	width:250px;
  	text-align: left;
  	line-height: 100px;

}


.purchase-product-option{
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.total-price,.delete-button,.purchase-button{
	text-align: center;
}

.product-show-link{
    margin-top:10px;
	text-align:center;
}

