// Place all the styles related to the user_inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

inquiry.text {
	width:100px;
	height:500px;
}

.center-block {

	margin: 0 auto;
	width: 70%;
}

.aiueo {
	font-weight: bold;
}

.i-n {
	padding:20px;
	color:#3366FF;
	text-align: left;
}

.f-n {
	padding:20px;
}

.i-c {
	color:#3366FF;
}

.i-c-3 {
	padding :10px 0 50px 0;
	font-size : 20px;
	color:#f58e7e;
}

.w {
	padding: 30px 0 150px 0;
}


.user-inquiries-form {
	margin-bottom: 30px;
}