// Place all the styles related to the user_order_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-box {
  border-radius: 5%;
  margin: 100px 70px 0 0;
  text-align: center;
  background: #E3DECC;
  color: black;
  padding-bottom: 30px;
  height: 550px;
}

.user-information-contetnt {
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.user-information-button {

}



.user-title {
  background: limegreen;
  border-radius: 5%;
  margin-bottom: 50px;
}

.user-information-title {
  background: skyblue;
  border-radius: 5%;
  font-size: 16px;
}

.order-box {
  margin: 100px 0;
  background: #E6E5E1;
  border-radius: 5%;
  padding: 30px;
  color: black;
}

.order-title {
  background: limegreen;
  text-align: center;
  width: 50%;
  margin-bottom: 50px;
  border-radius: 5%;
}

.order-sub-title {
  background: skyblue;
  text-align: center;
  width: 50%;
  margin: 30px;
  border-radius: 5%;
}

.order-table-head {
  font-size: 16px;
  font-weight: bold;
}

.order-table-data {
  font-size: 16px;
  font-family: 'Kosugi Maru', sans-serif;
}