// Place all the styles related to the user_order_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-box {
  border: 2px solid slategray;
  margin: 100px 70px 0 0;
  text-align: center;
  height: 500px;
  transition: transform .3s ease-in-out;
}

.user-title {
  background: limegreen;
  border-radius: 5%;
  margin-bottom: 50px;
}

.user-information-title {
  background: skyblue;
}

.order-box {
  margin: 100px 0;
}

.order-title {
  background: limegreen;
  text-align: center;
  width: 50%;
}

.order-sub-title {
  background: skyblue;
  text-align: center;
  width: 50%;
}


.mypage-content-box{
  min-height:600px;
}


#sampleContentC{
  displpay:flex;
  height: auto;
  width: auto;
}

#購入履歴タブ
.order-history-box{
  height: auto;
  width:100%;
  margin-bottom:5px;
}

.order-history-box-inner{
  width: 100%;
  height: auto;
  margin:10px 0 10px 0;
  padding:10px 50px 10px 50px;
  border:groove 1px;
  background: -moz-linear-gradient(315deg, red 50px, yellow 70px, skyblue 100px);
  background: -webkit-linear-gradient(315deg, red 50px, yellow 70px, skyblue 100px);
  background: -ms-linear-gradient(315deg, red 50px, yellow 70px, skyblue 100px);
}

.order-info-box{
  display:flex;
  justify-content:space-between;
  width:100%;
  height:auto;
  padding:5px;
  background: linear-gradient(to bottom, #FFC778, #FFF);
}

.order-date,.order-address, .shipping-fee,.total-price{
  text-align:left;
  height:auto;
  margin-right:50px;
}


.product-info-box{
  margin:10px;
  padding:10px 10px 20px 10px;
  height: 100px;
  display:flex;
  border: solid 5px;
  background:pink;
}

.purchase-image,.purchase-product-title,
.purchase-price,.purchase-product-quantity{
  text-align:left;
  height:auto;
  margin-right:50px;
}

.product-status-box{
  width:100%;
  height:50px;
  padding:5px;
  display:flex;
  justify-content:flex-end;
}

.product-status{
  margin-right:50px;
}

