// Place all the styles related to the user_carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.purchase-products-box {
  width: auto;
  background: #60C4B0;
}

.purchase-prouduct {
	margin: 10px;
}


.purchase-product-image {
	text-align: center;
    margin: 0;
}

.purchase-product-info{
	max-width: auto;
}

.purchase-product-option{
	display:block;
}