<div class="main">
		<div class="sidenav" style="float: right;">
			<p>ジャンル</p>
			<ul>
				<a href="#">J-pop</a>
				<a href="#">J-rock</a>
				<a href="#">J-metal</a>
				<a href="#">classic</a>
				<a href="#">国歌</a>
			</ul>
		</div>
		<div class="ranking">
			<div>
				<h2>検索結果</h2>
				<span>※<%=  %>件の検索結果</span>
				<span><%=  %>件中　<=%  %>件表示</span>
			</div>
			<div class="ranking-colu">
				<ul style="">
					<li>
						<img src="">
						<div>
							<a href="#">商品名</a>
							<a href="#">アーティスト</a>
							<p>１０００円</p>
						</div>
					</li>
					<li>
						<img src="">
						<div>
							<a href="#">商品名</a>
							<a href="#">アーティスト</a>
							<p>１０００円</p>
						</div>
					</li>
					<li>
						<img src="">
						<div>
							<a href="#">商品名</a>
							<a href="#">アーティスト</a>
							<p>１０００円</p>
						</div>
					</li>
					<li>
						<img src="">
						<div>
							<a href="#">商品名</a>
							<a href="#">アーティスト</a>
							<p>１０００円</p>
						</div>
					</li>
					<li>
						<img src="">
						<div>
							<a href="#">商品名</a>
							<a href="#">アーティスト</a>
							<p>１０００円</p>
						</div>
					</li>
					<li>
						<img src="">
						<div>
							<a href="#">商品名</a>
							<a href="#">アーティスト</a>
							<p>１０００円</p>
						</div>
					</li>
					<li>
						<img src="">
						<div>
							<a href="#">商品名</a>
							<a href="#">アーティスト</a>
							<p>１０００円</p>
						</div>
					</li>
				</ul>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
			</div>	
		</div>		
	</div>	