<div>
	<h1>買い物かご</h1>
	<div class="carts">
		<div class="cart">
			<a href="#">商品タイトル</a>
			<p>商品詳細テキスト</p>
			<p>１１００円（税込）</p>
			<form action="#" method="update">
				<p>数量：
				<select name="cnt">
					<option value="1" selected>1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select></p>
				<p><input type="submit" value="削除"></p>
			</form>
		</div>
	</div>
	<div class="buy">
		<p>送料：５００円</p>
		<p>合計金額：１１００円</p>
		<a href="#">ご購入手続きへ</a>
		<a href="#">商品一覧ページに戻る</a>
	</div>
</div>