<% if end_user_signed_in? %>
    <% if product.favorited_by?(current_end_user) %>
        <p><span>お気に入り解除: </span><%=link_to product.favorites.count, user_favorites_destroy_path(product.id), method: :delete, remote: true %></p>
    <% else %>
        <p><span>お気に入り登録: </span><%=link_to product.favorites.count, user_favorites_create_path(product.id), method: :post, remote: true %></p>
    <% end %>
<% else %>
    <p><span>お気に入り数: </span><%= product.favorites.count %></p>
<% end %>