<div>
  <h1 style = "border: 1px solid black">入荷商品入力フォーム</h1>

  <div style = "border: 1px solid black">
    <h2>商品ID:xxxxxx</h2>
    <h3>商品タイトル:xxxxx</h3>
  </div>

  <div>
    <p>入荷個数</p><br>
    <input type = "text">

    <p>入荷日時</p><br>
    <input type = "text">

    <button type = "submit" value = "登録"></button>
  </div>

</div>