<header style = "border: 1px solid black; width: 100%; height: 100px;">
  <div style = "float: left">
    <h1 style = "border: 1px solid black; margin-left: 30px; height: 50px"><a href = "#">γ‚Έγƒ£γ‚±γ‚¬γ‚¤!!</a></h1>
  </div>

  <nav style = "float: right">
    <ul style = "display:inline-block; float: right">
      <a href = "#" style = "display:inline-block; list-style: none; text-decoration:none; margin-top: 20px; margin-right: 20px;">γƒ­γ‚°γ‚¤γƒ³</a>
      <a href = "#" li style = "display:inline-block; list-style: none; text-decoration:none; margin-top: 20px; margin-right: 20px;">ζ–°θ¦η™»ι²</a>
      <a href = "#" li style = "display:inline-block; list-style: none; text-decoration:none; margin-top: 20px; margin-right: 20px;">γε•γ„εγ‚γ›</a>
      <a href = "#" li style = "display:inline-block; list-style: none;text-decoration:none; margin-top: 20px; margin-right: 20px;">π‘</a>
    </ul>
  </nav>
</header>

<div style = "float: right;">
  <div>
    <input type = "text" placeholder = "ζ›²εγƒ»ζ­ζ‰‹εγ§ζ¤η΄Ά">
    <button type = "submit" style = "">π”</p>
  </div>
</div>

<div style = "border-bottom:1px solid black;margin-top: 60px"></div>